:root {
 /*********** COLORS ***********/
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white: hsl(0,100%,100%);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--violet);
     background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% ;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hero {
    width: 100%;
    max-width: 1318px;
    height: 100%;
    color: var(--white); 
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% ;
}

.hero__header {
    margin-bottom: 4.3rem;
    padding: calc(1rem + 7.25vw);
}
.hero__logo {
    width: 250px;
    height: 50px;
    background-image: url("../images/logo.svg");
    background-size: cover;
    margin-bottom: 8.7rem;
}

.hero__image {
    width: 100%;
    max-width: 695px;
    height: 56vw;
    max-height: 495px;
    background-image: url("../images/illustration-mockups.svg");
    background-size: contain; 
    background-repeat: no-repeat; 
}

.hero__content {
    text-align: center;
    line-height: 1.5;
    padding-bottom: 4.5rem;
    text-align: center;
}

.hero__title {
    max-width: 520px;
    font-size:calc(1.4rem + 2.5vw) ;
    margin: 0  auto;
}

.hero__paragraph {
    font-size:calc(1rem + 1.1vw) ;
    max-width: 526px;
    margin:3.6rem auto;
    letter-spacing: 1px;
    padding: 0 0.625rem;
}

.hero__btn {
    width: 53%;
    margin-bottom: 7.8rem;
    border: none;
    border-radius: 30px;
    padding: calc(1rem + 2.1vw) 4rem;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: #fff;
    color: var(--violet);
    text-align: center;
}

.hero__icons {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.hero__icon {
    width: 4.25rem;
    padding: 0.25rem;
    background-color:transparent;
    border: 1px solid black;
    border-radius: 50%;
    filter: invert(1);
}

@media screen and (min-width: 75rem) {

    body {
        background-image: url("../images/bg-desktop.svg");
        
        
    }

    .hero {
        display: flex;
        
        align-items: flex-end;
    }

    .hero__header {
        flex-grow: 1;
        margin-bottom: 0;
        padding: 3.9rem 4.7rem 5.8rem;
    }

    .hero__logo {
        margin-bottom: 6.25rem;
        width: 205px;
    }

    .hero__content {
        text-align: left;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        padding-bottom: 2.4rem;
    }

    .hero__title {
        font-size: 2.1rem;
        max-width: 435px;
        margin: 2.4rem 0;
    }

    .hero__paragraph {
        font-size: 1rem;
        max-width: 510px;
        padding: 0;
        line-height: 1.8;
        margin: 1.6rem;
    }

    .hero__btn {
        width: 37%;
        padding: 1.1rem;
        margin-bottom: 11rem;
    }

    .hero__icons {
        
        justify-content: flex-end;
    }

    .hero__icon {
        width: 2.75rem;
    }
}  





